<!DOCTYPE html>
<html>

<head>
	<title>ASML Editor</title>
	<meta name="description" content="Application State Modeling Language Editor." />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
	<style>
		body {
			padding: 0;
			margin: 0;
		}

		#app {
			width: 95vw;
			height: 95vh;
		}

		.editor {
			width: 32%;
			height: 90%;
			display: block;
			float: left;
			margin-left: 21px;
			margin-top: 20px;
		}

		.editor label {
			display: inline-block;
			margin-bottom: 10px;
			width: 100%;
		}

		.monaco-editor {
			width: 100%;
			height: 100%;
		}

		.errors {
			background-color: lightcoral;
			width: 100%;
			float: left;
		}

		.log {
			width: 100%;
			float: left;
			background-color: gainsboro;
			color: #333;
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="editor">
			<label for="">Application State Modeling Language</label>
			<monaco-editor :options="options" :value="asml" v-model="asml" class="monaco-editor" language="json"
				:amd-require="amdRequire"></monaco-editor>
			<template v-if="asmlValidation && asmlValidation.length">
				<div class="errors">
					<ul>
						<li v-for="item in asmlValidation">
							{{item.dataPath}}: {{item.message}}
						</li>
					</ul>
				</div>
				<div class="log">
					<pre>{{asmlValidation | b}}</pre>
				</div>
			</template>
		</div>
		<div class="editor">
			<label for="">Application State Model</label>
			<monaco-editor :options="options" :value="asm" v-model="asm" class="monaco-editor" language="json"
				:amd-require="amdRequire"></monaco-editor>
			<template v-if="asmValidation && asmValidation.length">
				<div class="errors">
					<ul>
						<li v-for="item in asmValidation">
							{{item.dataPath}}: {{item.message}}
						</li>
					</ul>
				</div>
				<div class="log">
					<pre>{{asmValidation | b}}</pre>
				</div>
			</template>
		</div>
		<div class="editor">
			<label for="">Run-time State</label>
			<monaco-editor :options="options" :value="rts" v-model="rts" class="monaco-editor" language="json"
				:amd-require="amdRequire"></monaco-editor>
			<template v-if="rtsValidation && rtsValidation.length">
				<div class="errors">
					<ul>
						<li v-for="item in rtsValidation">
							{{item.dataPath}}: {{item.message}}
						</li>
					</ul>
				</div>
				<div class="log">
					<pre>{{rtsValidation | b}}</pre>
				</div>
			</template>
		</div>
	</div>

	<script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
	<script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
	<script src="https://unpkg.com/vue-monaco@1.2.1/dist/vue-monaco.js"></script>
	<script src="https://unpkg.com/ajv@6.12.4/dist/ajv.bundle.js"></script>
	<script src="https://unpkg.com/ajv@6.12.4/dist/ajv.min.js"></script>
	<script src="https://unpkg.com/monaco-editor@0.20.0/min/vs/loader.js"></script>
	<script>
		var BASE_URL = 'https://saman.dev/asml/';
		var SCHEMA_URL = 'https://json-schema.org/draft/2019-09/schema/';
		require.config({ paths: { vs: 'https://unpkg.com/monaco-editor@0.20.0/min/vs' } });
		var ajv = new Ajv();

		new Vue({
			el: '#app',
			data: {
				options: {
					minimap: { enabled: false },
					enableSchemaRequest: true
				},
				schema: '',
				asml: '',
				asmlValidation: [],
				asm: '',
				asmValidation: [],
				rts: '',
				rtsValidation: [],
			},
			watch: {
				asml: function () {
					if (this.asml && this.asml.length) {
						this.validateAsml();
						if (this.asm && this.asm.length) {
							this.validateAsm();
							if (this.rts && this.rts.length) {
								this.validateRts();
							}
						}
					}
				},
				asm: function () {
					if (this.asml && this.asml.length) {
						this.validateAsm();
						if (this.rts && this.rts.length) {
							this.validateRts();
						}
					}
				},
				rts: function () {
					if (this.asm && this.asm.length) {
						this.validateRts();
					}
				}
			},
			filters: {
				b: function (json) {
					if (json && json.length) {
						return JSON.stringify(json, 0, 5).trim();
					}
					return "";
				}
			},
			methods: {
				hasJsonStructure: function (str) {
					if (typeof str !== 'string') return false;
					try {
						const result = JSON.parse(str);
						const type = Object.prototype.toString.call(result);
						return type === '[object Object]'
							|| type === '[object Array]';
					} catch (err) {
						return false;
					}
				},
				amdRequire: require,
				// Load JSON Schema
				loadSchema: function () {
					this.$http.get(SCHEMA_URL).then(response => {
						this.schema = JSON.stringify(response.body, 0, 5);
					});
				},
				// Load Application State Modeling Lanauage
				loadAsml: function () {
					this.$http.get(BASE_URL + 'schema.json').then(response => {
						delete response.body["$id"];
						delete response.body["$schema"];
						this.asml = JSON.stringify(response.body, 0, 5);
					});
				},
				// Load an Application State Model Example
				loadAsm: function () {
					this.$http.get(BASE_URL + 'sending-email.asm.json').then(response => {
						this.asm = JSON.stringify(response.body, 0, 5)
					});
				},
				// Load a Run-time State Example
				loadRts: function () {
					this.$http.get(BASE_URL + 'example.json').then(response => {
						this.rts = JSON.stringify(response.body, 0, 5)
					});
				},
				// Validate Application State Modeling Lanauage
				validateAsml: function () {
					try {
						ajv.validateSchema(JSON.parse(this.asml));
						this.asmlValidation = ajv.errors;
					} catch (error) {
						this.asmlValidation = [{ message: error }];
					}
				},
				// Validate the Application State Model Example
				validateAsm: function () {
					if (this.hasJsonStructure(this.asml)) {
						try {
							ajv.validate(JSON.parse(this.asml), JSON.parse(this.asm));
							this.asmValidation = ajv.errors;
						} catch (error) {
							this.asmValidation = [{ message: error }];
						}
					}
				},
				// Validate the Run-time State Example
				validateRts: function () {
					if (this.hasJsonStructure(this.asm)) {
						try {
							ajv.validate(JSON.parse(this.asm), JSON.parse(this.rts));
							this.rtsValidation = ajv.errors;
						} catch (error) {
							this.rtsValidation = [{ message: error }];
						}
					}
				}
			},
			created: function () {
				this.loadAsml();
				this.loadAsm();
				this.loadRts();
			}

		})
	</script>
</body>

</html>